{% extends "base.html" %}
{% block content %}

<div class="row mb-2">
    <video id="player" controls autoplay></video>
    <canvas id="snapshot"></canvas>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <button id="capture" class="form-control btn btn-primary">Capture</button>
        <button id="send" class="form-control btn btn-primary">Send</button>
        <button id="debug" class="form-control btn btn-primary">Debug</button>
    </div>

    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
            <a class="text-dark" href="#" id="title">ポケモン名</a>
            </h3>
            <div class="mb-1 text-muted">図鑑NO</div>
            <p class="card-text mb-auto" id="explanatory">図鑑説明</p>
        </div>
        <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" data-holder-rendered="true" id="image">
        </div>
    </div>
</div>


<div class="field">
    <pre id="response">レスポンス</pre>
</div>


{% endblock %}



